.question {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #e6e3df;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question>header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px;
}

.question>header>div {
    display: flex;
    flex-direction: column;
}

.question span {
    display: flex;
    align-items: center;
}

.qnaImg {
    height: 16px;
    margin-right: 0.7rem;
    margin-top: 4px;
}

.btn {
    border: none;
    background: #fff;
}

.btn>img {
    height: 7px;
}

.infoText {
    padding: 1px 10px;
    background-color: #f9f9f9;
}