.first {
    text-align: center;
    font-size: 0.775rem;
}

.bodyContent {
    padding-top: 100px;
    padding-bottom: 84px;
    width: 100%;
    color: #666;
}

/* font-family: 'Noto Sans', sans-serif;
-webkit-text-size-adjust: none;
list-style: none;
margin: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
box-sizing: border-box;
font-weight: 300;
padding: 14px 0 12px 0;
line-height: 18px;
width: calc(100% - 27px); */

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0.775rem;
    width: 100%;
    padding: 15px 0px;
    padding-left: 30px;
    color: #7b7a7a;
    background-color: #161411;
}

.bottom>span {
    color: #6dc7eb;
    cursor: pointer;
    text-decoration-line: underline;
}

.bottom>span:hover {
    color: #0095cf;
}

.info {
    width: 100%;
}