.first {
    text-align: center;
    font-size: 0.775rem;
}

.bodyContent {
    padding-top: 100px;
    padding-bottom: 84px;
    width: 100%;
    color: #666;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 0.775rem;
    width: 100%;
    padding: 15px 0px;
    padding-left: 30px;
    color: #7b7a7a;
    background-color: #161411;
}

.bottom>span {
    color: #6dc7eb;
    cursor: pointer;
    text-decoration-line: underline;
}

.bottom>span:hover {
    color: #0095cf;
}

.info {
    width: 100%;
}